In [5]:
# Creating 2 seprate data frame
import pandas as pd
data1 = {"Emp_id": [123,456,789,124],
        "Emp_Name": ["Mz","lisa","henry","hou"],
        "Age": [23,34,25,26] }

data2 = {"Emp_id": [123,456,789,124],
        "Salary": [2300,39000, 34560,234]}
x = pd.DataFrame(data1)
y = pd.DataFrame(data2)
print(x)

print ()

print(y)

   Emp_id Emp_Name  Age
0     123       Mz   23
1     456     lisa   34
2     789    henry   25
3     124      hou   26

   Emp_id  Salary
0     123    2300
1     456   39000
2     789   34560
3     124     234

In [6]:
print(pd.merge(x,y, on = "Emp_id")) #Merging dataframe

   Emp_id Emp_Name  Age  Salary
0     123       Mz   23    2300
1     456     lisa   34   39000
2     789    henry   25   34560
3     124      hou   26     234

In [7]:
data1 = {"Emp_id": [123,456,789,125],
        "Emp_Name": ["Mz","lisa","henry","hou"],
        "Age": [23,34,25,26] }

data2 = {"Emp_id": [123,457,789,124],
        "Salary": [2300,39000, 34560,234]}
x = pd.DataFrame(data1)
y = pd.DataFrame(data2)
print(x)

print ()

print(y)

   Emp_id Emp_Name  Age
0     123       Mz   23
1     456     lisa   34
2     789    henry   25
3     125      hou   26

   Emp_id  Salary
0     123    2300
1     457   39000
2     789   34560
3     124     234

In [8]:
print(pd.merge(x,y, on = "Emp_id"))

   Emp_id Emp_Name  Age  Salary
0     123       Mz   23    2300
1     789    henry   25   34560

In [13]:
print(pd.merge(left = x, right = y, on = "Emp_id", how = "left")) #using concept ofjoint

   Emp_id Emp_Name  Age   Salary
0     123       Mz   23   2300.0
1     456     lisa   34      NaN
2     789    henry   25  34560.0
3     125      hou   26      NaN

In [14]:
#print(pd.join(x,y)) # join

AttributeError: module 'pandas' has no attribute 'join'

In [15]:
data1 = {"Emp_id": [1,2,3,4],
        "Emp_Name": ["Mz","lisa","henry","hou"],
        "Age": [23,34,25,26] }

data2 = {"Emp_id": [5,6,7,8],
         "Emp_Name": ["tex","rex","ron","shaun"],
        "Salary": [2300,39000, 34560,234]}
x = pd.DataFrame(data1)
y = pd.DataFrame(data2)
print(x)

print ()

print(y)

   Emp_id Emp_Name  Age
0       1       Mz   23
1       2     lisa   34
2       3    henry   25
3       4      hou   26

   Emp_id Emp_Name  Salary
0       5      tex    2300
1       6      rex   39000
2       7      ron   34560
3       8    shaun     234

In [16]:
print(pd.concat([x,y])) # concadinate

   Emp_id Emp_Name   Age   Salary
0       1       Mz  23.0      NaN
1       2     lisa  34.0      NaN
2       3    henry  25.0      NaN
3       4      hou  26.0      NaN
0       5      tex   NaN   2300.0
1       6      rex   NaN  39000.0
2       7      ron   NaN  34560.0
3       8    shaun   NaN    234.0